body {
    background: linear-gradient(rgb(0, 149, 255), rgb(0, 64, 255)) fixed;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.card .card-block {
    padding: 4rem;
}

h1 {
    padding-bottom: 20px !important;
}

.intro {
    font-size: 20px;
    padding-top: 50px;
}

.head {
    color: rgb(54, 54, 54) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info {
    color: rgb(63, 63, 63);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 10px;
}

.skill {
    color: grey;
}

.button {
    font-size: 30px !important;
}

.button:hover {
    color: rgb(81, 133, 255) !important;
}